.container {
  display: flex;
}
.chartContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

