.tableContainer {
  background: #fff;
  filter: drop-shadow(
    0px 10.216941833496094px 61.30165100097656px rgba(226, 236, 249, 0.5)
  );
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 30.65px;
}

.searchAndSortContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 18px;
}

.searchInput {
  width: 222.694px;
  height: 38.824px;
  border-radius: 10.217px;
  background: #f9fbff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.searchInput input {
  border: none;
  background: none;
  outline: none;
  text-align: left;
  font-size: 13px;
}

.sortDropdown {
  width: 158.773px;
  height: 35px;
  display: flex;
}

.sortDropdown select {
  border-radius: 10.217px;
  background: #f9fbff;
  outline: none;
  border: none;
}
.pagination {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paginationContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.activePageButton {
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4.087px;
  border: 1.022px solid #5932ea;
  background: #5932ea;
  color: #fff;
  font-size: 12.26px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.123px;
  margin-right: 5px;
}

.pageButton {
  display: inline-flex;
  padding: 6.13px 9.195px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4.087px;
  border: 1.022px solid #eff0f6;
  background: #f5f5f5;
  color: #404b52;
  font-size: 12.26px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.123px;
  margin-right: 5px;
}
.active {
  display: flex;
  width: 82.479px;
  /* padding: 4.087px 12.26px; */
  justify-content: center;
  align-items: center;
  border-radius: 4.087px;
  border: 1.022px solid #00b087;
  background: rgba(22, 192, 152, 0.38);
  color: #008767;
  font-size: 14.304px;
  font-weight: 500;
  letter-spacing: -0.143px;
}

.inActive {
  display: flex;
  width: 82.479px;
  /* padding: 4.087px 12.26px; */
  justify-content: center;
  align-items: center;
  border-radius: 4.087px;
  border: 1.022px solid #df0404;
  background: #ffc5c5;
  color: #df0404;
  font-size: 14.304px;
  font-weight: 500;
  letter-spacing: -0.143px;
}
table {
  margin: 0 auto;
}
th,
td {
  padding: 15px;
}
tbody {
  color: #292d32;
  font-size: 14.304px;
  font-weight: 500;
  letter-spacing: -0.143px;
}
