.tableContainer {
  background: #fff;
  filter: drop-shadow(
    0px 10.216941833496094px 61.30165100097656px rgba(226, 236, 249, 0.5)
  );
  margin-top: 35px;
}

.table {
  text-align: left;
}

.table table {
  margin: 0 auto;
}

.dividor {
  background: #eff0f6;
  height: 1px;
  width: 100%;
}

.columnHeading {
  color: #b5b7c0;
  font-size: 14.304px;
  font-weight: 500;
  letter-spacing: -0.143px;
}

.heading {
  color: #16c098;
  font-size: 14.304px;
  font-weight: 400;
  letter-spacing: -0.143px;
  margin-bottom: 10px;
  margin-left: 175px;
}

.searchSortConatiner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 18px;
}

.sortDropdown {
  width: 158.773px;
  height: 35px;
  display: flex;
}

.sortDropdown select {
  border-radius: 10.217px;
  background: #f9fbff;
}

.option {
  color: #3d3c42;
  font-size: 12.26px;
  font-weight: 600;
  letter-spacing: -0.123px;
}

.searchInput {
  width: 222.694px;
  height: 38.824px;
  border-radius: 10.217px;
  background: #f9fbff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.searchInput input {
  border: none;
  background: none;
  outline: none;
  text-align: left;
  font-size: 13px;
}

th,
td {
  padding: 15px;
}
